@{
    ViewData["Title"] = "Admin Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Governments</h1>
<div>
    <a href="/Admin/AddGovernment">Add Government</a>
    <hr />
</div>
<h1>Structures</h1>
<div>
    <a href="/Admin/AddStructure">Add Structure</a>
    <hr />
</div>
<h1>Events</h1>
<div>
    <a href="/Admin/AddEvent">Add Event</a>
    <hr />
</div>